body{
    background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.testimonios{
    font-family: 'Poppins' , sans-serif;
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.quote{
    width: 1200px;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 2;
}
.quote .box {
    
    position: relative;
    width: 360px;
    height: 400px;
    background: #fff;
    overflow: hidden;
    transition: 0.5s;
    z-index: 2;
    box-sizing: border-box;
    padding: 30px;
    box-shadow: -10px 25px 50px rgba(0,0,0,.2);
}
.quote .box P {
    padding-top: 1rem;
    margin: 2px;
    padding: 0;
    font-size: 18px;
}
.quote .box:hover p {
    color: #fff;
}
.quote .box h2 {
    position: absolute;
    bottom: 30px;
    right: 30px;
    margin: 0px;
    padding: 0;
    font-size: 20px;
    text-transform: uppercase;
}
.quote .box:hover h2 {
    color: #fff;
}
.quote .box:hover{
    box-shadow: -20px 50px 100px rgba(0,0,0,.5);
}
.quote .bg {
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
    width: 100%;
    height: 100%;
}
.quote .box.box1:hover ~ .bg,
.quote .box.box1:hover {
    opacity: 1;
    background: linear-gradient(#03A9F4, #E91E63);
}

.quote .box.box2:hover ~ .bg,
.quote .box.box2:hover {
    opacity: 1;
    background: linear-gradient(#FFC107, #19fd36);
}

.quote .box.box3:hover ~ .bg,
.quote .box.box3:hover {
    opacity: 1;
    background: linear-gradient(#FFC107, #E91E63);
}

.quote .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255, .2);
    pointer-events: none;
}
.quote .box:after {
   
    position: absolute;
    bottom: 10%;
    right: 10%;
    opacity: 1;
    background: rgb(255, 255, 255, .2);
    pointer-events: none;
    filter: invert(1);
   
}
.quote .box:hover:after {
    filter: invert(2);
}